* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(100,146,198);
    --secondary-color: rgb(52,67,70);
    --text-color: ;
}

body{
    background-color: var(--primary-color);
}

header {
    display: block;
    padding: 20px;
}

header h1 {
    background-color: var(--secondary-color);
    display: inline-block;
}

header nav {
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    background-color: blue;
}

nav ul {
    list-style-type: none;   
}

nav ul a {
    text-decoration: none;
}

